<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
</head>
<body class="home">
    <header>
        <img src="/images/logo.jpg" alt="">
        <button><i class="fas fa-bars"></i>
        </button>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    
    </header>
    <main>
        <section class="banner">
            <img src="/images/img-banner.jpg" alt="">
        </section>
        <section class="products">
            <article>
                <div class="imagen">
                    <img class="photo" src="/images/img-pdto-1.jpg" alt="">
                    <img class="label" src="/images/img-nuevo.png" alt="">
                    <a href="" class="zoom">ampliar foto</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias provident numquam eligendi.</p>
                <a class="more" href="">ver más</a>
            </article>
             <article>
                 <div class="imagen">
                    <img class="photo" src="/images/img-pdto-2.jpg" alt="">
                    <img class="label" src="/images/img-descuento.png" alt="">
                    <a  href="" class="zoom">ampliar foto</a>
                 </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias provident numquam eligendi.</p>
                <a class="more" href="">ver más</a>
            </article>
            <article>
                <div class="imagen">
                    <img class="photo" src="/images/img-pdto-3.jpg" alt="">
                    <img class="label" src="/images/img-gratis.png" alt="">
                    <a  href="" class="zoom">ampliar foto</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias provident numquam eligendi.</p>
                <a class="more" href="">ver más</a>
            </article>
            <article>
                <div class="imagen">
                    <img class="photo" src="/images/img-pdto-1.jpg" alt="">
                    <img class="label" src="/images/img-nuevo.png" alt="">
                    <a  href="" class="zoom">ampliar foto</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias provident numquam eligendi.</p>
                <a class="more" href="">ver más</a>
            </article>
             <article>
                 <div class="imagen">
                    <img class="photo" src="/images/img-pdto-2.jpg" alt="">
                    <img class="label" src="/images/img-descuento.png" alt="">
                    <a  href="" class="zoom">ampliar foto</a>
                 </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias provident numquam eligendi.</p>
                <a class="more" href="">ver más</a>
            </article>
            <article>
                <div class="imagen">
                    <img class="photo" src="/images/img-pdto-3.jpg" alt="">
                    <img class="label" src="/images/img-gratis.png" alt="">
                    <a   href="" class="zoom">ampliar foto</a>
                </div>
                <h4>Lorem ipsum amet</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dicta alias provident numquam eligendi.</p>
                <a class="more" href="">ver más</a>
            </article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><a href="">home</a></li>
                <li><a href="">quienes</a></li>
                <li><a href="">servicios</a></li>
                <li><a href="">portfolio</a></li>
                <li><a href="">sucursales</a></li>
                <li><a href="">contacto</a></li>
            </ul>
        </nav>
    </footer>


</body>
</html>