.home {
  background-image: url("/images/bg-body.png");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0 10px;
}

/* header */
.home header img {
  border-radius: 50%;
  border: 2px #444444 solid;
  width: 180px;
  display: block;
  margin: 15px auto 30px;
}

.home button {
  display: block;
  margin: 30px auto;
  background-color: #444444;
  border: none;
  padding: 7px;
  color: white;
  border-radius: 4px;
}

.home header li {
  width: 100%;
  background-color: #444444;
  border-bottom: 2px solid white;
  padding: 10px 0;
  text-align: center;
}
.home header li:last-child {
  border-bottom: none;
}
.home header a {
  color: white;
  text-transform: uppercase;
}

/* banner */

.home .banner img {
  display: none;
}

/* products */

.home .products {
  margin: 30px 0;
  width: 100%;
  overflow: hidden;
}

.home article {
  width: 100%;
  margin-bottom: 30px;
}

.home article .imagen {
  position: relative;
}

.home article img.photo {
  width: 100%;
}

.home article img.label {
  position: absolute;
  top: 0;
  right: 10px;
}

.home article a.zoom {
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffff;
  position: absolute;
  width: 100%;
  padding: 5px 0;
  top: 45%;
  left: 0px;
}

.home article a.more {
  display: inline-block;
  background-color: #444444;
  width: 80px;
  color: white;
  text-align: center;
  padding: 5px 0;
  margin: 10px 0;
}
.home article h4,
p {
  margin: 10px 0;
}

/* footer */

.home footer li {
  width: 100%;
  background-color: #b92519;
  border-bottom: 2px solid white;
  padding: 10px 0;
  text-align: center;
}
.home footer li:last-child {
  border-bottom: none;
}
.home footer a {
  color: white;
  text-transform: uppercase;
}

@media (min-width: 426px) {
  /* header */

  .home button {
    display: none;
  }

  .home header ul{
    overflow: hidden;
  }

  .home header li {
    width: 15.5%;
    border-bottom: none;
    float: left;
    margin-right: 1.4%;
  }

  .home header li:last-child{
    margin-right: 0;
  }

  .home header a{
    font-size: 0.55rem;
  }

  /* banner */

  .home .banner img {
    display: block;
    width: 100%;
    margin: 20px 0;
  }

  /* products */

  .home article {
    width: 49%;
    float: left;
    margin-right: 2%;
  }
  .home article:nth-child(even){
    margin-right: 0;
  }
}

@media (min-width: 769px) {
  /* hader */

  .home header a{
    font-size: 1rem;
  }

  .home header li {
    width: 15.5%;
  }
  /* products */

  .home article {
    width: 32%;
    margin-right: 0;
    margin-right: 2%;

  }

  .home article:nth-child(even){
    margin-right: 2%;
  }
  .home article:nth-child(3n){
    margin-right: 0;
  }


  /* footer */

  .home footer{
    background-color: #b92519;
    padding: 60px 0;
    text-align: center;
    border-radius: 20px 20px 0 0;
  }

  .home footer a {
    text-transform: capitalize;
    font-weight: 600;
  }

  .home footer li {
    display: inline-block;
    width: 110px;
    border-bottom: none;
    border-right: 2px solid white;
    padding: 8px 0;
  }

  .home footer li:last-child {
    border-right: none;

  }
}
